# App
APP_ENV=
DEBUG=
SECRET_KEY=

# PostgreSQL
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
DATABASE_URL=

# Redis
REDIS_URL=

# Celery
CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=

# Weather API (https://www.weatherapi.com/)
WEATHER_API_KEY=
WEATHER_API_BASE_URL=

# CORS
ALLOWED_ORIGINS=