.table-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.75rem;

  .search-input {
    width: 300px;
  }
}

.text-muted {
  color: var(--p-text-muted-color);
}
